<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.logbug.transdata.generator.mapper.RevertBatchInfo0Mapper">

    <resultMap id="BaseResultMap" type="top.logbug.transdata.generator.top.logbug.RevertBatchInfo0">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="storeNo" column="store_no" jdbcType="SMALLINT"/>
            <result property="batchId" column="batch_id" jdbcType="VARCHAR"/>
            <result property="warehouseNo" column="warehouse_no" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="gtbsBizTypeCode" column="gtbs_biz_type_code" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
            <result property="dc" column="dc" jdbcType="INTEGER"/>
            <result property="dcName" column="dc_name" jdbcType="VARCHAR"/>
            <result property="supplierNo" column="supplier_no" jdbcType="INTEGER"/>
            <result property="supplierName" column="supplier_name" jdbcType="VARCHAR"/>
            <result property="tranStore" column="tran_store" jdbcType="SMALLINT"/>
            <result property="createId" column="create_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateId" column="update_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,store_no,batch_id,
        warehouse_no,status,gtbs_biz_type_code,
        business_type,dc,dc_name,
        supplier_no,supplier_name,tran_store,
        create_id,create_time,update_id,
        update_time
    </sql>
</mapper>
