<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.logbug.transdata.generator.mapper.RevertPalletInfo1Mapper">

    <resultMap id="BaseResultMap" type="top.logbug.transdata.generator.top.logbug.transdata.RevertPalletInfo1">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="storeId" column="store_id" jdbcType="SMALLINT"/>
            <result property="palletId" column="pallet_id" jdbcType="VARCHAR"/>
            <result property="carBatchId" column="car_batch_id" jdbcType="VARCHAR"/>
            <result property="loadingId" column="loading_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createId" column="create_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateId" column="update_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,store_id,pallet_id,
        car_batch_id,loading_id,status,
        create_id,create_time,update_id,
        update_time
    </sql>
</mapper>
